# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/*.pkl

# Model files
# models/*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Reports
reports/*.pdf